<div class="container">
    <h2 class="content-title">Restablecer contraseña</h2>

    <!-- Mensajes globales -->
    <div *ngIf="errorMessage" class="message message-error">
        {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="message message-success">
        {{ successMessage }}
    </div>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="content-form">

        <label for="password" class="form-label">Nueva contraseña:</label>
        <input id="password" type="password" formControlName="password" class="form-input" />
        <div
            *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)">
            <small *ngIf="resetForm.get('password')?.errors?.['required']">La contraseña es requerida</small>
            <small *ngIf="resetForm.get('password')?.errors?.['minlength']">Debe tener al menos 6 caracteres</small>
        </div>

        <label for="confirmPassword" class="form-label">Confirmar contraseña:</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-input" />
        <div
            *ngIf="resetForm.get('confirmPassword')?.invalid && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)">
            <small *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">La confirmación es requerida</small>
            <small *ngIf="resetForm.hasError('passwordMismatch')">Las contraseñas no coinciden</small>
        </div>

        <button type="submit" [disabled]="isLoading" class="button button-ok">
            {{ isLoading ? 'Procesando...' : 'Restablecer contraseña' }}
        </button>
    </form>
</div>
