<header class="navbar">
    <div class="navbar-left">
        <img src="/Aldea-San-Antonio.png" alt="Logo Aldea San Antonio" class="navbar-logo">
        <h2 class="navbar-title">Sistema de Reservas</h2>
    </div>

    <nav class="navbar-links">


        <!-- Si está logueado -->
        <a *ngIf="isLoggedIn$ | async" routerLink="/reservas" class="nav-link">Reservar cancha</a>
        <button *ngIf="isLoggedIn$ | async" (click)="cerrarSesion()" class="button button-cancel">Cerrar sesión</button>
    </nav>
</header>

<main class="main-content">
    <router-outlet></router-outlet>
</main>