<div class="container">
    <h2 class="content-title">Recuperar contraseña</h2>

    <!-- Mensajes globales -->
    <div *ngIf="errorMessage" class="message message-error">
        {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="message message-success">
        {{ successMessage }}
    </div>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="content-form">
        <label for="email" class="form-label">Email:</label>
        <input id="email" formControlName="email" class="form-input" />

        <!-- Validaciones -->
        <div
            *ngIf="forgotForm.get('email')?.invalid && (forgotForm.get('email')?.dirty || forgotForm.get('email')?.touched)">
            <small *ngIf="forgotForm.get('email')?.errors?.['required']">El email es requerido</small>
            <small *ngIf="forgotForm.get('email')?.errors?.['email']">Formato de email inválido</small>
        </div>

        <button type="submit" [disabled]="isLoading" class="button button-warning">
            {{ isLoading ? 'Procesando...' : 'Enviar enlace de recuperación' }}
        </button>
    </form>
</div>